/*--------------------------------style.css---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	margin: 0;
	padding: 0;
	animation: 1s simpledrop;
}

.landing-pg {
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.header {
	height: 20vh;
	width: 100%;
	padding: 10px;
	display: flex;
	z-index: 2;
	position: fixed;
}

.header img {
	flex: 0.2;
	z-index: 2;
}

.header .buffer-area {
	flex: 0.3;
}

.header nav {
	flex: 0.5;
	float: right;
	z-index: 2;
}

.header nav .nav-link {
	list-style: none;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.header nav .nav-link li {
	text-decoration: none;
	text-align: center;
	padding: 0 20px 0 20px;
}

.header nav .nav-link li a {
	text-decoration: none;
	color: #1e1e1e;
	font-size: 15px;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	z-index: 2;
}

.header nav .nav-link li a:hover {
	color: #10b8be;
	transition: 0.5s;
}

.active-header {
	padding: 0;
	padding-top: 5px;
	height: 10vh;
	transition: 1s;
	background: #ffffff;
	animation: 1s dropping;
	box-shadow: 0 1px 5px #10b8be;
	font-size: 10px;
}

@keyframes dropping {
	0% {
		transform: translateY(-20vh);
		opacity: 0;
		transition: 0.2s;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		transition: 0.3s;
	}
}

.slider-main {
	height: 100vh;
	width: 100%;
	z-index: -1;
}

.carousel-inner {
	height: 100vh;
	width: 100%;
	z-index: -1;
}

.main-container {
	animation: 0.5s simpledrop;
}

@keyframes simpledrop {
	0% {
		transform: translateY(-10vh);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		transition: 1s;
	}
}

.intro-data {
	padding: 10%;
	animation: 0.5s simpledrop;
}

.intro-data h2 {
	font-family: 'Playball', cursive;
	padding-top: 30px;
	color: #10b8be;
	border-top: 1px solid #10b8be;
}

.intro-data h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.intro-data p {
	padding-bottom: 30px;
}

.room-main {
	width: 100%;
	height: 60vh;
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
	margin-bottom: 10px; 
}

.rm-head {
	padding: 3%;
	text-align: center;
	font-family: 'Playball', cursive;
}

.rm-head h2 {
	font-size: 40px;
	color: white;
}

.owl-theme {
	width: 90%;
	margin: auto;
}

.parallax-div {
    z-index: -1;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.parallax-div div {
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	background: rgb(0,0,0,0.4);
}

.parallax-div div h2 {
	padding-top: 8%;
	padding-bottom: 20px;
}

.parallax-div div p {
	max-width: 900px;
	margin: auto;
}

.footer-section {
	height: 20vh;
	width: 100%;
	background: #1e1e1e;
	padding: 60px 60px 0px 60px;
	bottom: 0;
}

.footer-section div {
	border-top: 1px solid #323232;
	padding: 20px;
	text-align: center;
}

.footer-section div h3 {
	font-size: 20px;
	color: #545454;
}

.footer-section div h3 a {
	font-size: 20px;
	text-decoration: none;
	color: #919090;
}

.footer-section div h3 a:hover {
	font-size: 20px;
	text-decoration: none;
	transition: 0.3s;
	color: #ffffff;
}

/*--------------------------Index Page code ends----------------------------------*/

.pg-head-img {
	height: 60vh; 
	width: 100%;
	z-index: -1;
	background: url("../image/slider/img1.jpg");
}

.pg-head-img h1 {
	height: 60vh;
	width: 100%;
	font-size: 60px;
	font-family: "Playball", cursive;
	padding-top: 30vh;
	padding-left: 10%;
}

.htr p {
	font-size: 15px;
	font-family: "Open Sans", sans-serif; 
}

.htr h3 {
	font-size: 25px;
	color: #10b8be;
	font-style: italic;
}

/*--------------------------How To Reach Page code ends----------------------------------*/

.contact-main {
	width: 100%;
	height: 120vh;
	display: flex;
	padding-top: 10%;
}

.map-area {
	flex: 0.6;
	padding: 8%; 
}

.map-actual {
	height: 70vh;
	width: 100%;
	background: grey;
}

.contact-form {
	flex: 0.4;
	padding: 20px;
}

.contact-form h1 {
	font-family: "Playball", cursive;
	color: #10b8be;
	border-top: 1px solid #10b8be;
	line-height: 90px;
}

.contact-form .listing {
	margin-top: 60px;
}

.contact-form .listing div {
	display: flex;
	line-height: 50px;
}

.contact-form .listing div .img-div {
	flex: 0.2;
	justify-content: center;
	align-items: center;
}

.img-div img {
	width: 35px;
	filter: invert(57%) sepia(38%) saturate(2473%) hue-rotate(140deg) brightness(96%) contrast(87%);
}

.contact-form .listing div p {
	flex: 0.8;
	align-items: center;
	font-size: 20px;
}

.contact-form .listing div p a {
	text-decoration: none;
	color: black;
}

.contact-form .listing div p a:hover {
	color: #10b8be;
	transition: 0.2s;
}

.fa-map-marker-alt,.fa-envelope,.fa-phone-alt {
	margin-right: 15px; 
	color: white; 
	border-radius: 50%; 
	padding: 10px; 
	width: 60px; 
	background: #10b8be; 
	font-size: 60px; 
	transform: translateY(13px);
}

/*--------------------------Contact Page code ends----------------------------------*/

.container {
	padding-top: 10%;
	padding-bottom: 10%;
}

.row {
	margin: 15px; 
}

.row img {
	transition: all 0.5s ease;
	margin-bottom: 20px;
}

.row img:hover {
	transform: scale(1.1) rotate(3deg);
}


/*--------------------------Gallery Page code ends----------------------------------*/

@media screen and (max-width: 1080px) {
	.header .buffer-area {
		flex: 0;
	}
	.header nav {
		flex: 0.8;
	}
}

@media screen and (max-width: 950px) {
	body { 
		overflow-x: hidden;
	}
	.header {
		padding-left: 0px;
	}
	.header img {
		transform: translateX(-40px);
	}
	.header .buffer-area {
		flex: 0;
	}
	/*.burger {
		margin-top: 1.5vh;
		margin-right: 1.5vh; 
		cursor: pointer;
		background-color: #10b8be;
		max-width: 35px;
		max-height: 35px;
		margin-right: 6px;
		padding: 9px;
		display: flex;
		align-items: center;
		border-radius: 50%;
		z-index: 200;
	}
	.fa-bars {
		font-size: 17px;
		color: white;
		margin: 2px;
	}*/
	.burger {
		padding: 10px;
		z-index: 200;
		cursor: pointer;
	}
	.line {
		width: 25px;
		height: 4px;
		background: #10b8be;
		border-radius: 2px;
		margin: 5px;
	}
	.header nav .nav-link {
		right: 0;
		position: absolute;
		height: 100vh;
		width: 100%;
		top: 0;
		background: white; 
		flex-direction: column;
		justify-content: space-around;
		clip-path: circle(100px at 100% -20%);
		-webkit-clip-path: circle(100px at 100% -20%);
		transition: all 1s ease-out;
		pointer-events: none;
	}
	.header nav .nav-link.open {
		clip-path: circle(1000px at 90% -10%);
		-webkit-clip-path: circle(1000px at 90% -10%);
		pointer-events: all;
	}
	.header nav .nav-link li {
		opacity: 0;
	}
	.header nav .nav-link li:nth-child(1) {
		transition: all 0.3s ease 0.2s;
	}
	.header nav .nav-link li:nth-child(2) {
		transition: all 0.3s ease 0.35s;
	}
	.header nav .nav-link li:nth-child(3) {
		transition: all 0.3s ease 0.5s;
	}
	.header nav .nav-link li:nth-child(4) {
		transition: all 0.3s ease 0.65s;
	}
	.header nav .nav-link li:nth-child(5) {
		transition: all 0.3s ease 0.8s;
	}
	.header nav .nav-link li.fade {
		opacity: 1;
	}
	.parallax-div {
		height: 80vh;
	}
	.parallax-div div h2 {
		padding-top: 20vh;
		padding-bottom: 20px;
	}
	.slider-main {
		height: 100vh;
	}
	.carousel-inner .carousel-item img {
		height: 100vh;
		object-fit: cover;
	}
	.footer-section{
		padding: 0;
		padding-top: 6vh;
	}
	.footer-section div h3 {
		font-size: 15px;
	}
	.footer-section div h3 a {
		font-size: 15px;
	}
	.footer-section div h3 a:hover {
		font-size: 16px;
	}
	.contact-main {
		flex-direction: column;
		height: auto;
		overflow-x: hidden;
	}
	.img-div img {
		width: 25px;
		filter: invert(57%) sepia(38%) saturate(2473%) hue-rotate(140deg) brightness(96%) contrast(87%);
	}
	.contact-form .listing div p {
		flex: 0.8;
		align-items: center;
		font-size: 14px;
	}
}