@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,700i,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One:400,500,600,700,700i,800,900&&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Yatra One', cursive;
}

section
{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #000200;
	display: flex;
	justify-content: center;
	align-items: center;
}

section h2
{
	color: transparent;
	font-weight: 900;
	font-size: 20em;
	-webkit-text-stroke: 2px #fff;
	text-transform: uppercase;
}

section .star
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	animation: animate 8s ease-in-out infinite,
			   backgroundmove 16s linear infinite;
}

section .star.star1
{
	animation-delay: 0s;
	background: url(star1.png);
}

section .star.star2
{
	animation-delay: -1s;
	background: url(star2.png);
}

section .star.star3
{
	animation-delay: -2s;
	background: url(star3.png);
}

section .star.star4
{
	animation-delay: -3s;
	background: url(star4.png);
}

section .star.star5
{
	animation-delay: -4s;
	background: url(star5.png);
}

section .star.star6
{
	animation-delay: -5s;
	background: url(star6.png);
}

section .star.star7
{
	animation-delay: -6s;
	background: url(star7.png);
}

section .star.star8
{
	animation-delay: -7s;
	background: url(star8.png);
}

@keyframes animate: 
{
	0%,20%,40%,60%,80%,100%
	{
		opacity: 0;
	}
	10%,30%,50%,70%,90%
	{
		opacity: 1;
	}
}

@keyframes backgroundmove
{
	0%
	{
		transform: scale(1);
	}
	100%
	{
		transform: scale(2);
	}
}





ul li
{
	list-style: none;
}

ul li a
{
	text-shadow: 3px 3px 10px linear-gradient(transparent,transparent,rgba(0,0,0,0.2));
	position: relative;
	display: block;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	font-size: 5em; 
	font-weight: 900;
	text-decoration: none;
	line-height: 1.2em;
}

ul li a:hover
{
	color: #fff;
	-webkit-text-stroke: 1px #0000;
	transition: 0.9s;
}

ul li a:before,
ul li a:after
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}

ul li a:hover:before
{
	color: #f00;
	z-index: 1;
	-webkit-text-stroke: 1px #000;
	transform: translate(7px,-7px);
}

ul li a:hover:after
{
	color: #0ff;
	z-index: 2;
	-webkit-text-stroke: 1px #000;
	transform: translate(14px,-14px);
}



