@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@font-face {font-family: 'fnt-italic';src: url('../fonts/lora/Lora-Italic-VariableFont_wght.ttf');}
@font-face {font-family: 'fnt-normal';src: url('../fonts/lora/Lora-VariableFont_wght.ttf');}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --clr: #b7c9e5;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
	font-family: 'fnt-normal', sans-serif;
	scroll-behavior: smooth;
}

.header {
	display: flex;
	padding: 1.2rem;
	height: 20vh;
	position: fixed;
	z-index: 40;
	width: 100%;
}

.header-active {
	width: 100%;
	height: 10vh;
	position: fixed;
	background: #faeef9;
	opacity: 0.9;
	animation: 0.7s dropping;
}

@keyframes dropping {
	0% {
		transform: translateY(-20vh);
		opacity: 0;
		transition: 0.2s;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
		transition: 0.3s;
	}
}

.logo {
	flex: 0.25;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 50%;
}

nav {
	flex: 0.75;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-family: 'fnt-normal', sans-serif;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

nav ul li a:hover {
	text-decoration: none;
	color: #333;
	transition: 0.9s;
}

nav ul li a::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) scaleX(0);
	-webkit-transform: translateX(-50%) scaleX(0);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	width: 100%;
	height: 3px;
	background-color: black; 
	transition: transform 250ms;
	-webkit-transition: transform 250ms;
}

nav ul li:hover::after {
	-webkit-transform: translateX(-50%) scaleX(1);
	transform: translateX(-50%) scaleX(1);
}

nav ul li {
	text-decoration: none;
	padding: 0 1.2rem 0 1.2rem;
}

.landing-section {
	height: auto;
	background: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	perspective: 1000px;
}

.landing-data {
	height: 100vh;
	display: flex;
}

.landing-data .hover-effect {
	flex: 0.3;
	transform-style: preserve-3d;
	position: relative;
}

.crd {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: auto;
	transform-style: preserve-3d;
	position: relative;
	padding-top: 10rem;
}

.landing-data .hover-effect img {
	width: 50rem;
}

.brushbg {
	position: absolute;
	transition: all 0.75s ease-out;
}

.brush {
	transition: all 0.75s ease-out;
}

.landing-data .actual-data {
	flex: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 

.landing-data .actual-data h1 {
	font-family: 'Alex Brush', cursive;
	font-size: 6rem;
	transform: rotate(-10deg);
	padding: 2rem 0;
}

.landing-data .actual-data p {
	width: 50%;
	transform: translateX(30%);
	text-align: justify;
	margin-bottom: 2rem;
}

.landing-data .actual-data button {
	font-size: 1.2rem;
	padding: 0.5rem 1.6rem;
	border: none;
	border-radius: 5px;
}

.landing-data .actual-data button:hover {
	background: #faeef9;
	box-shadow: 0 0 10px rgb(0,0,0,0.2);
	transition: 0.3s;
}

.service-cards {
	padding: 5%;
	text-align: center;
}

.service-cards h1 {
	text-transform: uppercase;
	font-family: 'fnt-normal',sans-serif;
	font-weight: bold;
	justify-content: center;
}

.row {
	display: flex;
	justify-content: space-around;
	margin: 3rem;
}

.card {
  width: calc(100% / 3.2);
}

.card-content {
  text-align: center;
  position: relative;
  padding: 10em 5em;
  transition: transform 1.5s;
  overflow: hidden;
}

.card:hover .card-back {
  transform: translateY(0);
  transition: 0.5s;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3em 1em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card-front {
  background-color: rgb(0,0,0,0.4);
  background-size: cover;
  background-blend-mode: overlay;
  color: #fff;
}


.card-front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid #fff;
}

.card-title {
  font-size: 3rem;
  font-weight: bolder;
  order: 2;
  text-transform: uppercase;
}

.card-subtitle {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}

.card-body {
  font-weight: var(fw-normal);
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}

.card-back p a {
	text-decoration: none;
	color: #f5c9ca;
	font-size: 1.2rem;
}

.card-back {
  transform: translateY(100%);
  color: #f5c9ca;
  background: rgba(0,0,0,0.9);
}

.index-parallax {
	height: 60vh;
	background: url(../img/prlxbg.jpg);
	background-color: rgb(0,0,0,0.6);
	background-blend-mode: overlay;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.index-parallax h1 {
	font-weight: bolder;
}

.index-parallax h1 .hd {
	font-family: 'Alex Brush', cursive;
	text-transform: none;
	font-size: 4rem;
}

.index-parallax p {
	font-size: 1.3rem;
	width: 60%;
}

.index-parallax button {
	margin: 2rem;
	background: #f5c9ca;
	border: none;
	font-size: 1.5rem;
	font-weight: bolder;
	text-transform: uppercase;
	padding: 0.5rem 3rem;
}

.index-parallax button:hover {
	background: #fff;
	box-shadow: 0 0 10px rgb(0,0,0,0.7);
	transition: 0.3s;
}

.specialist-section {
	padding: 5%;
	text-align: center;
}

.spec-hd {
	font-size: 1.5rem;
}

.specialist-div {
	margin: 3rem 0;
	display: flex;
	justify-content: space-around;
}

.specialist-item {
	background-image: linear-gradient(to right bottom, #F5C9CA,#B4B2EF);
	box-shadow:0 0 20px #f5c9ca;
	width: calc(100% / 3.5);
	padding: 2rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.specialist-item:hover {
	filter: hue-rotate(275deg);
	box-shadow:0 0 30px rgb(0,0,0,0.3);
	transition: all 0.5s;
}

.specialist-item h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

.specialist-item p {
	font-weight: 1.3rem;
	color: #333;
}

.specialist-item ul {
	list-style: none;
	display: flex;
}

.specialist-item ul li a {
	text-decoration: none;
	color: #000;
}

.specialist-item ul li a:hover {
	text-decoration: none;
	color: #f5c9ca;
	text-shadow: 0 0 5px grey;
	transition: 0.3s;

}

.specialist-item ul li {
	padding: 0.6rem;
	font-size: 1.5rem;
}

.haircut-section {
	height: 40vh;
	background: #faeef9;
	box-shadow: inset 0 0 30px rgba(0,0,0,0.3);
	padding: 5%;
	display: flex;
}

.haircut-heading {
	flex: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.haircut-heading h1 {
	font-family: 'Alex Brush', cursive;
	font-size: 5rem;
}

.haircut-list {
	flex: 0.5;
}

.haircut-list ul {
	list-style: none;
	position: relative;
}

.haircut-list ul li {
	margin-bottom: 0.7rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: bold;
	overflow: hidden;
	border-bottom: 0.2px solid #333;
}

.underln {
	float: right;
}

.back-rupee {
	position: absolute;
	right: 2rem;
	font-size: 17rem;
	top: -7rem;
	color: rgba(0,0,70,0.35);
}

.testimonial-section {
	min-height: 70vh;
	padding: 5%;
	text-align: center;
}

.testimonial-section h1 {
	font-size: 2.3rem;
	font-weight: bolder;
}

.testimonial-div {
	margin-top: 5rem;
}

.testimonial-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testimonial-profile {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background: grey;
	margin-bottom: 1rem;
}

.map-section {
	height: 70vh;
	width: 100%;
}

.map-section iframe {
	border: 0;
	height: 100%;
	width: 100%;
}

.contact-section {
	background: #fff;
	margin: 8%;
	transform: translateY(-40vh);
	padding: 5rem;
	display: flex;
	box-shadow: 0 0 30px grey;
	border-radius: 10px;
}

.contact-data {
	flex: 0.5;
}

.contact-data h1 {
	font-size: 4rem;
	font-weight: bolder;
}

.contact-data p {
	margin: 0.4rem;
}

.contact-data .sub-dt {
	font-weight: bolder;
	font-size: 1.3rem;
}

.contact-data .nxt-dt {
	margin-top: 5rem;
	font-weight: bold;
}

.contact-data .sub-hd {
	font-weight: bold;
	margin-top: 1rem;
}

.contact-form {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-form input {
	width: 100%;
	height: 4rem;
	border: 1px solid #333;
	margin: 0.7rem 0;
	padding: 1rem;
}

.contact-form textarea {
	width: 100%;
	height: 7rem;
	border: 1px solid #333;
	margin: 0.7rem 0;
	padding: 1rem;
	resize: none;
}

.contact-form button {
	background: #fff;
	margin: 2rem;
	border: 2px solid black;
	font-size: 1.5rem;
	font-weight: bolder;
	padding: 0.5rem 3rem;
	margin-bottom: 0;
}

.contact-form button:hover {
	background: #f5c9ca;
	box-shadow: 4px 4px 5px rgb(0,0,0,0.4);
	transition: 0.3s;
}

.footer-section {
	height: 45vh;
	transform: translateY(-45vh);
	background: #faeef9;
	position: absolute;
	width: 100%;
}

.footer-top {
	height: 38vh;
	display: flex;
	padding: 3rem;
}

.footer-top h2 {
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: bolder;
}

.footer-top .footer-main {
	flex: 0.3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-top .footer-main-dt {
	flex: 0.3;
	padding: 0 1rem;
}

.footer-top .footer-main-dt p {
	text-align: justify;
	margin: 0 1rem 0 0;
}

.footer-top .footer-main img {
	width: 25rem;
	transform: translateY(-1.2rem);
}

.footer-top .footer-links {
	flex: 0.2;
}

.footer-top .footer-links ul {
	list-style: none;
	margin-left: 0.5rem;
}

.footer-top .footer-links ul li a {
	color: #000;
	font-size: 1.02rem;
}

.footer-top .footer-links ul li a:hover {
	color: #000;
	text-decoration: none;
}

.footer-top .footer-contact {
	flex: 0.2;
}

.footer-top .footer-contact h2 {
	margin-bottom: 1.5rem;
}

.footer-top .footer-contact p {
	margin: 0.2rem 0;
}

.footer-bottom {
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
}

@media screen and (max-width: 450px) {
	body {
		overflow-x: hidden;
	}
	.header,.header-active {
		height: 10vh;
		z-index: 10;
		padding: 0.2rem;
		width: 100%;
		opacity: 1;
	}
	.logo {
		flex: 0.8;
		justify-content: left;
		padding: 0 1rem;
	}
	.logo img {
		width: 7rem;
	}
	nav {
		background: #faeef9;
		position: absolute;
		top: 10vh;
		left: 0;
		width: 100%;
		height: 90vh;
		z-index: 1;
		display: block;
		padding: 5%;
		clip-path: circle(100px at 100% -20%);
		-webkit-clip-path: circle(100px at 100% -20%);
		transition: all 1s ease-out;
		pointer-events: none;
	}
	nav.open {
		clip-path: circle(1500px at 100% -20%);
		-webkit-clip-path: circle(1500px at 100% -20%);
		pointer-events: all;
	}
	nav ul {
		flex-direction: column;
	}
	nav ul li {
		opacity: 1;
		margin: 2rem 0;
		text-transform: uppercase;
	}
	.burger {
		flex:0.2;
		right: 0;
		top: 0;
		position: absolute;
		z-index: 67;
		padding: 0.5rem;
		overflow: hidden;
		margin: 0.5rem;
	}
	.line {
		width: 25px;
		height: 4px;
		margin: 0.3rem;
		border-radius: 2px;
		box-shadow: 0 0 2px rgb(0,0,0,0.4);
		background-color: #000;
		z-index: 900;
	}
	.landing-section {
		perspective: none;
		height: 100vh;
		width: 100%;
		background-position: center;
	}
	.landing-data {
		flex-direction: column;
	}
	.landing-data .hover-effect {
		display: none;
	}
	.landing-data .actual-data {
		flex: 1;
	}
	.landing-data .actual-data h1 {
		font-size: 5rem;
		transform: rotate(0deg);
		text-align: center;
	}
	.landing-data .actual-data p {
		transform: translateX(0);
		width: 90%;
		margin-bottom: 3rem;
	}
	.landing-data .actual-data button {
		background: #000;
		color: #fff;
	}
	.service-cards {
		padding: 1%;
	}
	.service-cards h1 {
		margin: 1rem 0;
	}
	.row {
		flex-direction: column;
		margin: 3rem 1rem;
	}
	.card {
		width: 100%;
		margin-bottom: 1rem;
	}
	.index-parallax {
		height: auto;
		text-align: center;
		padding: 2rem 0;
	}
	.index-parallax p {
		font-size: 1rem;
	}
	.specialist-section {
		padding: 10% 5%;
	}
	.specialist-div {
		flex-direction: column;
	}
	.specialist-item {
		width: 90%;
		margin: 1rem auto;
	}
	.haircut-section {
		height: auto;
		flex-direction: column;
		padding: 3rem 1rem;
	}
	.haircut-heading h1 {
		font-size: 3rem;
	}
	.haircut-list {
		margin-top: 3rem;
	}
	.haircut-list ul li {
		font-size: 1rem;
	}
	.back-rupee {
		right: 0;
		font-size: 15rem;
	}
	.testimonial-item p {
		text-align: justify;
	}
	.map-section {
		height: 100vh;
	}
	.contact-section {
		margin: 5%;
		flex-direction: column;
		padding: 1.5rem;
	}
	.contact-data h1 {
		font-size: 3rem;
	}
	.contact-form textarea {
		height: 8rem;
		overflow-y: hidden;
	}
	.contact-form button {
		background: #fff;
		margin: 2rem;
		border: 2px solid black;
		font-size: 1.3rem;
		font-weight: bolder;
		padding: 0.2rem 2rem;
		margin-bottom: 0;
	}
	.footer-section {
		height: 70vh;
		transform: translateY(-30vh);
	}
	.footer-top {
		flex-direction: column;
		height: 60vh;
	}
	.footer-top h2 {
		font-size: 1rem;
	}
	.footer-top .footer-main img {
		width: 15rem;
	}
	.footer-top .footer-main-dt {
		display: none;
	}
	.footer-top .footer-links ul {
		display: flex;
		flex-wrap: wrap;
	}
	.footer-top .footer-links ul li {
		text-align: center;
		margin: 0 0.8rem;
	}
	.footer-top .footer-contact h2 {
		margin-bottom: 0.5rem;
	}
	.footer-bottom {
		height: 10vh;
		text-align: center;
	}
}